<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{templates/css/bootrap.min.css}">
</head>
<body>
<!--/*  Multiple fragments may be defined in one file */-->
<div th:fragment="footer" th:align="center" style="align-content: center; width: 100%; bottom: 0 !important; background: #7f847f; position: absolute; height: 60px">
    &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2019</span>
    <span>The little Warehouse</span>
</div>
<div th:fragment="footer-admin" th:align="center">
    &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2019</span>
    <span>The little Warehouse </span><span th:text="${@environment.getProperty('app.version')}"></span>
</div>
</body>
</html>