<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Warenhaus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h1>Warenhaus </h1>
    <div th:switch="${article}">
        <h2 th:case="null">Keine Artikel vorhanden</h2>
        <div th:case="*">
            <h2>Artikel</h2>
            <a class="btn btn-success float-right" th:href="@{/add-article}">Artikel hinzifügen</a>

            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">Artikel</th>
                    <th scope="col">Verpackungseinheit</th>
                    <th scope="col">Preis</th>
                    <th scope="col">Lieferant</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr scope="row" th:each="a : ${article}">
                    <td  th:text="${a.articleName}"></td>
                    <td th:text="${a.packageUnit}"></td>
                    <td th:text="${a.price}"></td>
                    <td th:text="${a.supplier.supplierName}"></td>
                    <td><a th:href="@{/delete/{id}(id=${a.articleId})}">Delete</a> </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>
</div>
</body>
</html>